<mat-drawer-container class="full-height">
  <mat-drawer class="full-height" mode="side" opened>
    <div class="flex">
      <img src="https://cefodi.org.ec/sisi/assets/images/logo-sisi-only.svg" alt="">
      <span class="title">MANUAL DE USUARIO</span>
    </div>
    <span class="subtitle lighter pt-12">INDICE DE CONTENIDOS</span>
    <div class="app-directory-container">
      <app-directory></app-directory>
    </div>
  </mat-drawer>
  <mat-drawer-content class="full-height">
    <router-outlet class="full-height"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>